.filterContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 80%;
    justify-content: space-around;
}

.Container{
    width: 90%;
    margin: 1em;
}

.label {
    padding: 1em;
}

.searchInput,
.selectInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}