.tableContainer {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    @media (max-width: 430px) {
        font-size: 10px;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: #3498db;
    color: white;
}

.table th,
.table td {
    border: 1px solid #6e6e6e;
    text-align: left;
    padding: 12px;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: #d5d5d5;
}