body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #aad9ff;
    color: #333;
}

.pageContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
